heroku/netrc
atom
vim/vim
zsh/oh-my-zsh
themes
icons
tmux/tmux/resurrect
tmux/tmux/plugins/

# Files needed for z to funciton
#############################
/zsh/z


# Files that are symlinks to other projects
###########################################
bin/aws_otp
bin/vpn2_otp
bin/vpn_otp
